$border-color: #248795;
$small-window: 600px;

.filters {
  position: fixed;
  bottom: 25px;
  right: 35px;
  z-index: 9;

  &--expanded .filters__filter:not(.filters__filter--selected) {
    display: block;
    opacity: 1;
    pointer-events: all;
  }
}

.filters__filter {
  width: 60px;
  height: 60px;
  border: 3px solid rgba($secondary-color, 0.5);
  border-radius: 50%;
  margin: 5px 0;
  position: relative;
  background: white;
  box-shadow: 0px 5px 8px 0 rgba(0, 0, 0, 0.58);

  @media(max-height: $small-window) {
    width: 40px;
    height: 40px;
  }

  &:not(.filters__filter--selected) {
    display: none;
    opacity: 0;
    pointer-events: none;
  }
}

.filters__label {
  display: block;
  height: 60px;
  @media(max-height: $small-window) {
    height: 40px;
  }
}

.filters__label__text {

  display: none;
  color: white;
  position: absolute;
  right: 100%;
  width: 100vw;
  text-align: right;
  top: 50%;
  transform: translate(-10px, -50%);

  .filters--expanded & {
    display: block;
  }
  span {
    padding: 5px 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
  }
}

.pokemon-popover + .movedex .filters,
.pokemon-popover + .pokedex .filters {
  display: none;
}

.filters__label__icon {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 65%;
    height: 65%;
    transform: translateX(-1px);
    // border-radius: 50%;
    // border: 1px solid $border-color;
  }
}