.movedex {
  padding: 2rem 1rem;
  p {
    height: 60px;
    @media(max-width: 768px) {
      height: auto;
    }
  }
}

.movedex__moves {
  display: flex;

  @media(max-width: 768px) {
    flex-direction: column;
  }
}

.movedex__basic, .movedex__special {
  width: 50%;

  @media(max-width: 768px) {
    width: 100%;
  }
  padding: 0 10px;
}