.movedex {
  display: flex;

  @media(max-width: 768px) {
    flex-direction: column;
  }

  p {
    height: 60px;
    @media(max-width: 768px) {
      height: auto;
    }
  }
}

.movedex__basic, .movedex__special {
  width: 50%;

  @media(max-width: 768px) {
    width: 100%;
  }
  padding: 0 10px;
}