.pokedex-container {
  padding: 2rem 0;
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  padding: 2rem 0;
}

.pokemon-list li {
  width: 130px;
  height: 150px;
  text-align: center;
  list-style: none;
  float: left;
  cursor: pointer;

  @media (max-width: 650px) {
    width: 100px;
    height: 120px;
  }
}

.pokemon {
  li:hover & {
    background-image: -webkit-radial-gradient(center center, circle cover, rgba(163, 230, 255, 0.7), #ffffff 50%);
    background-image: radial-gradient(center center, circle cover, rgba(163, 230, 255, 0.7), #ffffff 50%);
  }
}

.pokemon__name {
  font-weight: bold;
  padding: 5px 0;
}

.pokemon__sprite {
  height: 80px;
}
