.u-seperator {
  text-align: center;
  font-size: 16px;
  position: relative;

  &:after {
    content: "";
    height: 1px;
    width: 60%;
    background: rgba(0,0,0,0.25);
    position: absolute;
    left: 50%;
    top: 11px;
    z-index: -1;
    transform: translateX(-50%);
  }
}

.u-seperator__text {
  background: white;
  padding: 0 10px;
}